
<nav class="navbar">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>


<div class="container">
<div class="row">
<div class="col">
<div class="containe">
    
  
    <div class="column" style="background-color: #f1f1f1;">Column 1</div>
    <div class="column" style="background-color: #e1e1e1;">Column 2
       <div > <app-user-list></app-user-list></div>
    </div>
    <div class="column" style="background-color: #d1d1d1;">Column 3</div>
    
</div>
</div>
</div>
</div>
<app-bootstrap-colum-divide></app-bootstrap-colum-divide>

