

  
<h2 style="color: red;" align="center">User list</h2>
<div align="center">
  <table>
    <tr >
      <th>User Id </th>
      <th class="pl-50">First Name Name</th>
      <th class="pl-50" align="left">Last Name</th>
      <th class="pl-50" align="left">Email</th>
      <th class="pl-50" align="left">Gender</th>
     
    </tr>
    <tr *ngFor="let user of data">
      <td>{{user.id}}</td>
      <td class="pl-50">{{user.first_name}}</td>
      <td class="pl-50">{{user.last_name}}</td>
      <td class="pl-50">{{user.email}}</td>
      <td class="pl-50">{{user.gender}}</td>
    </tr>
  </table>
  


</div>